.containerHome {
    width: 90%;
    margin: 40px auto;
}

.containerHome h1 {
    color: white;
    margin-bottom: 30px;
}

.grid-produtos {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

    gap: 25px;

    min-height: 500px;
}

.card {
    background: #1f1f1f;

    border-radius: 12px;

    overflow: hidden;

    transition: .2s;

    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;

    height: 220px;

    object-fit: cover;
}

.card-body {
    padding: 20px;

    display: flex;

    flex-direction: column;

    gap: 15px;
}

.card-body h3 {
    color: white;
}

.card-body span {
    color: #4caf50;

    font-size: 22px;

    font-weight: bold;
}

.card-body button {
    padding: 12px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    background: #0d6efd;

    color: white;

    font-weight: bold;
}

.card-body button:hover {
    background: #0954c9;
}

.toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}

.search{
    width:350px;

    padding:12px 18px;

    border:none;

    border-radius:8px;

    background:#2d2d2d;

    color:white;

    font-size:16px;
}

.search:focus{
    outline:2px solid #4b84ff;
}

.toolbar-buttons{
    display:flex;

    gap:10px;
}

.btnCreate,
.btnDelete{

    padding:12px 22px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;

    color:white;

    transition:.2s;
}

.btnCreate{
    background:#2db34a;
}

.btnCreate:hover{
    background:#23913b;
}

.btnDelete{
    background:#d43b3b;
}

.btnDelete:hover{
    background:#b92d2d;
}

.card-body p{
    color:#bdbdbd;
    font-size:14px;
    min-height:45px;
}

.card-body small{
    color:#8bc34a;
    font-weight:bold;
}